
<div class="row">        <!-- first day -->
  <div class="col-md-6"> <!-- left column -->
    <h3>August 7, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/instructor/01-intro.html">Introducing the Shell & Navigating Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming in Python - Summary and Setup</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Plotting and Programming in Python - Data Types and Type Conversion</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
<div class="row">        <!-- day 2 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>August 14, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Plotting and Programming in Python - Reading Tabular Data into DataFrames</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href ="http://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Plotting and Programming in Python - Lists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
<div class="row">        <!-- day 3 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>August 21, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Plotting and Programming in Python - Looping Over Data Sets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style.html">Plotting and Programming in Python - Programming Style</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
