<div id="shell">
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do
    tasks more quickly.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="shell-windows">
	<ol>
		<li>Search for `Software Center` in your Windows search bar and click on it once it is found</li>
		<li>Select `Applications` on the left menu and search for `Git`.
		(Git should have been added to your Software Center when you signed up for the Workshop. 
		If you do not see it, please contact the service desk.)
		<br><img src="fig/SoftwareCenter-Applications.png" alt="Screenshot of Software Center Applications" width="500" height="333">
		</li>
		<li>Double click on `Git 2.45.2` and then click `Install`
		<br><img src="fig/SoftwareCenter-Git.png" alt="Screenshot of Software Center Git Install Button" width="500" height="333">
		</li>	
	</ol>
        <p>This will provide you with both Git and Bash in the Git Bash program.</p>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-macos">
        <p>
          The default shell in Mac OS X Ventura and newer versions is Zsh, but
	  Bash is available in all versions, so no need to install anything.
	  You access Bash from the Terminal (found in
	  <code>/Applications/Utilities</code>).
          See the Git installation <a href="#shell-macos-video-tutorial">video tutorial</a>
          for an example on how to open the Terminal.
          You may want to keep Terminal in your dock for this workshop.
        </p>
        <p>
            To see if your default shell is Bash type <code>echo $SHELL</code>
            in Terminal and press the <kbd>Return</kbd> key. If the message
            printed does not end with '/bash' then your default is something
            else, you can change your current shell to Bash by typing
            <code>bash</code> and then pressing  <kbd>Return</kbd>. To check
            your current shell type <code>echo $0</code> and press <kbd>Return</kbd>.
        </p>
        <p>
          To change your default shell to Bash type <code>chsh -s /bin/bash</code> and
          press the <kbd>Return</kbd> key, then reboot for the change to take effect. To
          change your default back to Zsh, type <code>chsh -s /bin/zsh</code>, press the
          <kbd>Return</kbd> key and reboot.  To check available shells, type
          <code>cat /etc/shells</code>.
        </p>
        <h4 id="shell-macos-video-tutorial">Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
    </div>
  </div>
</div>
